link(rel="stylesheet" href="/stylesheets/navbar.css")
div(class="container-fluid")
    div(class="navbar navbar-dark navbar-expand-xl" style="background-color: midnightblue")
        a(class="nav_brand_a" href="/" id="brand") Foodshare
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class="navbar-nav mr-auto")
                li(class="nav-item")
                    a(class="nav-link" href="./donation-map") Donation Map
                li(class="nav-item")
                    a(class="nav-link" href="./donation-board") Donation Board
                li(class="nav-item")
                    a(class="nav-link" href="./donation-form") Donate
                li(class="nav-item")
                    a(class="nav-link" href="./profile" id="navbar_label") Profile
                li(class="nav-item")
                    a(class="nav-link" href="./my-donations") My Donations
                li(class="nav-item")
                    a(class="nav-link" href="./my-requests") My Requests
                form(class ="form-inline" action="/logout?_method=DELETE" method="POST")
                    button(type="submit" class="btn btn-light" id="login_register_button") Logout
