div(class="contianer-fluid")
    div(class="navbar navbar_custom navbar-expand-xl")
        a(class="nav_brand_u" href="/" id="brand") Foodshare
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class='navbar-nav')
                li(class='nav-item')
                    a(class='nav-link' href='./donation-board' id='navbar_label') Donation Board
                li(class='nav-item')
                    a(class='nav-link' href='./register' id='navbar_label') Register
                li(class='nav-item')
                    a(class='nav-link' href='./login' id='navbar_label') Login