extends layout

block content 
    include partials/navbar-authenticated
    h4 Create a Listing:
    div(class="container")
        include partials/error-message 
        div(class="form-group")
            label(for="food-item") Food Item
            input(type="text" class="form-control" name="food-item" placeholder="Enter food item" required)
        div(class="form-group")
            label(for="amount") Amount
            input(type="text" class="form-control" name="amount" placeholder="Enter food amount" required)
        div(class="form-group")
            label(for="meeting-point") Meeting Point
            input(type="text" class="form-control" name="meeting-point" placeholder="Enter a meeting point" required)
        div(class="form-group")
            label(for="dietary-restriction") Dietary Restriction
            input(type="text" class="form-control" name="dietary-restriction" placeholder="Enter food " required)
        button(type="submit" class="btn btn-primary") Publish
