extends layout

block content
  if user
    include partials/navbar-authenticated
    div(class="jumbotron")
      h1 Welcome to foodshare, #{user.uid}.
  else
    include partials/navbar-unauthenticated
    div(class="jumbotron")
      h1 Welcome to foodshare.
