extends layout

block content
  if user
    include partials/navbar-authenticated
    p Welcome to foodshare, #{user.uid}.
  else
    include partials/navbar-unauthenticated
    p Welcome to foodshare.
