extends layout

block content
    if user
        include partials/navbar-authenticated
        h1 User Profile
        h2 User: #{user.uid}.
    else
        include partials/navbar-unauthenticated
        h2 Login to obtain user profile
    