extends layout

block content
    include partials/navbar-unauthenticated
    div(class="container")
        h1 Register:
        include partials/error-message
        form(action="/register" method="POST")
            div(class="form-group")
                label(for="username" id="login_register_labels") Username
                input(type="text" class="form-control" name="username" placeholder="Enter username" id="login_register_input_field" required)
            div(class="form-group")
                label(for="email" id="login_register_labels") Email address
                input(type="email" class="form-control" name="email" placeholder="Enter email" id="login_register_input_field" required)
            div(class="form-group")
                label(for="password" id="login_register_labels") Password
                input(type="password" class="form-control" name="password" placeholder="Enter password" id="login_register_input_field" required)
            button(type="submit" class="btn btn-primary" id="login_register_button") Register