#labels {
  color: #fd3ca4;
  font-size: 23px;
}

.form-control {
  border-color: deepskyblue;
  border-width: 4px;
}

#publish-button {
  font-size: 20px;
  color: #fd3ca4;
  background-color: midnightblue;
  border-width: 4px;
  border-color: deepskyblue;
}
