html {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}

h1 {
  color: deeppink;
  font-size: 25px;
  padding-top: 1%;
}

.container-fluid {
  width: 100%;
  padding: 0px;
  margin-bottom: 25px;
}
