html, body {
  background-color: '#F7EBE8'
}

body {
  font-family: 'Oswald', sans-serif !important;
}

h1 {
  color: #fd3ca4;
  padding-top: 1%;
}

.container-fluid {
  width: 100%;
  padding: 0px;
  margin-bottom: 25px;
}

.jumbotron {
  text-align: center;
  background-color: #191970;
}
